<%- include("header") -%>
<h2>This is our about page</h2>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora expedita necessitatibus distinctio repudiandae quaerat molestiae optio hic voluptatem magnam consequuntur soluta, tenetur a maiores doloremque doloribus accusantium ab, illo ducimus harum minus!</p>

<%- include("footer") -%>